# gradle

.gradle/
build/
out/
classes/
run/

# eclipse

*.launch
.github/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric-mc

logs/
mylib/
/eula.txt
/server.properties

# ph

/run.bat
/ps.bat

# cpp

cpp_resourcepack/
